{% extends 'base.html' %}
{% load mathfilters %}
{% load staticfiles %}

{% block content %}
<h1>Гүйцэтгэлийн Тайлан</h1>
<table class="table">
  <thead>
    <th> ID </th>
    <th> Онош нэр </th>
    <th> Эмчлүүлэгчийн нэр </th>
    <th> Эмчилгээ хийх<br>нийт хоног </th>
    <th> Хийгдсэн хоног </th>
  </thead>
  <tbody>
    {% for items in emchilgee %}
      <tr>
        <td> {{items.id}} </td>
        <td>
          {{ items.onosh }}
        </td>
        <td>
          {{ items.costumer }}
        </td>
        <td>
          {{ items.count_days }} хоног
        </td>
          {% if items.days_of_emchilgee_set.all %}
            <td>
              {% for data in items.drug_important_set.all %}
                {{ data.name }}<br>
                {% for day_of_emchilgee in data.report %}
                  {% if day_of_emchilgee.emchilgee %}
                    {{ day_of_emchilgee.day |date:"Y/m/d"}}
                    {% if day_of_emchilgee.is_done_morning %}
                      <span class="badge badge-success"> ✔ </span>
                    {% else %}
                      <span class="badge badge-danger"> ✘ </span>
                    {% endif %}
                    {% if day_of_emchilgee.is_done_aternoon %}
                      <span class="badge badge-success"> ✔ </span>
                    {% else %}
                      <span class="badge badge-danger"> ✘ </span>
                    {% endif %}
                    {% if day_of_emchilgee.is_done_evening %}
                      <span class="badge badge-success"> ✔ </span>
                    {% else %}
                      <span class="badge badge-danger"> ✘ </span>
                    {% endif %}
                  {% else %}
                    {{ day_of_emchilgee |date:"Y/m/d"}}
                    <span class="badge badge-danger"> ✘ </span>
                    <span class="badge badge-danger"> ✘ </span>
                    <span class="badge badge-danger"> ✘ </span>
                  {% endif %}
                  <br>
                {% endfor %}
              {% endfor %}
            </td>
          {% else %}
            <td>
              0 хоног
            </td>
          {% endif %}
      </tr>
    {% endfor %}
    <tr class="thead-light">
      <th>
        Нийт
      </th>
      <th>

      </th>
    </tr>
  </tbody>
</table>
{% endblock %}
