{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
<h4>Гүйцэтгэл</h4>
<div>
<table class="table">
  <thead>
    <th> № </th>
    <th> Эмчлэгч  Сувилагч: </th>
    <th> Эмчлүүлэгч: </th>
    <th> Нас: </th>
    <th>  </th>
  </thead>
  <tbody>
    {% for items in emchilgee_percostumer %}
      <tr>
        <td> {{ forloop.counter }} </td>
        <td> {{ request.user.worker }} </td>
        <td> {{ items.costumer__firstname }} </td>
        <td> {{ items.costumer__age }} </td>
        <td> <a href="{% url 'drug:reviews_percostumer' items.costumer %}" class="btn btn-info btn-xs">Дэлгэрэнгүй</a> </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
