{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
  <div class="col-md-4">
      <h4> Ерөнхий мэдээлэл </h4>
      <table class="list hoverable">
        <tbody>
          {% for data in user %}
            <tr>
              <td> <b>Овог:</b> </td>
              <td> {{data.lastname}} </td>
            </tr>
            <tr>
              <td><b> Нэр: </b></td>
              <td> {{data.firstname}} </td>
            </tr>
            <tr>
              <td><b> Регистр №: </b></td>
              <td> {{data.register}} </td>
            </tr>
            <tr>
              <td><b> Хүйс: </b></td>
              <td> {{data.gender}} </td>
            </tr>
            <tr>
              <td><b> Нас: </b></td>
              <td> {{data.age}} </td>
            </tr>
            {% if request.user.is_worker %}
              <tr>
                <td><b> Зэрэг: </b></td>
                <td> {{data.degree}} </td>
              </tr>
              <tr>
                <td><b> Албан тушаал: </b></td>
                <td> {{data.position}} </td>
              </tr>
            {% else %}
            <tr>
              <td><b> Нэмэлт мэдээлэл: </b></td>
              <td> {{data.description}} </td>
            </tr>
            {% endif %}
          {% endfor%}

        </tbody>
      </table>
  </div>
  <div class="col-md-8">
    {% if request.user.is_worker %}
      {% if request.user.worker.is_doctor %}
      {% else %}
        <form method="get">
          <div class="form-row">
            <div class="form-group col-md-12 mb-0">
              {{ emchilgee.form.as_p }}
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <table class="table table-striped">
          <thead>
            <th> № </th>
            <th> Эмчлүүлэгчийн нэр </th>
            <th> Эхлэх огноо </th>
            <th> Дуусах огноо </th>
            <th> Онош </th>
            <th>  </th>
          </thead>
          <tbody>
            {% for items in emchilgee.qs %}
              <tr>
                <td> {{ forloop.counter }} </td>
                <td> {{ items.costumer }} </td>
                <td> {{ items.start_date }} </td>
                <td> {{ items.end_date }} </td>
                <td> {{ items.onosh }} </td>
                <td>
                  <a href="{% url 'drug:emchilgee_details' items.id %}" class="btn btn-info btn-xs">Дэлгэрэнгүй</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
